.error {
    background-color: red;
}

.valide{
    background-color: springgreen;
}

body {
    font-family: Menlo, Consolas, "Courier New", Courier, monospace;
    color: #162029;
    background-color: #f6f7f9;
}