.error {
    background-color: red;
}

.valide {
    background-color: springgreen;
}

.warning {
    background-color: steelblue;
}

body {
    font-family: Menlo, Consolas, "Courier New", Courier, monospace;
    color: #162029;
    background-color: #f6f7f9;
}

.test {
    margin-left: 10px;
    border: 0px solid; /* auront une bordure de 1px */
    border-collapse:collapse;
}

th {
border: thin solid #6495ed;
padding: 10px;
background-color: #D0E3FA;
}
td {
border: thin solid #6495ed;
padding: 6px;
text-align: center;
}


table {
    counter-reset: rowNumber-1;
}

table tr {
    counter-increment: rowNumber;
}

table tr td:first-child::before {
    content: counter(rowNumber);
}